---
---

<div class="flex flex-col sm:flex-row gap-4">
  <a 
    href="/contact" 
    class="btn-primary text-center flex-1"
  >
    Request Quote
  </a>
  <button 
    class="btn-secondary text-center flex-1"
    onclick="window.history.back()"
  >
    Back to Products
  </button>
</div>